
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The DeveloperMania</p>
  </div>
</div>
<script>
  function menueclcicked()
  {
    const btn=document.getElementById('navmenue');
  (window.getComputedStyle(btn).display=="none")?btn.style.display='block':btn.style.display='none';
   
  }
</script>
</body>
</html>
