<%- include("partials/header") -%>
   <h1>Contact</h1>
   <p style="white-space: pre-wrap"><%=contactContent %></p>
   <a href="https://amused-wear-lion.cyclic.app/">Contact us</a>
<%- include("partials/footer") -%>