<%- include("partials/header") -%>



   <div>
      <h1 ><%=post.title%></h1>
     
       <p style="white-space: pre-wrap" class="postcontent"><%=post.content%></p>
   </div>

<br>
<%- include("partials/footer") -%>

